.App {
  text-align: center;
}

@font-face {
  font-family: 'KyrillaSansSerif-Bold';
  src:url('./KyrillaSansSerif-Bold.ttf');
}

@font-face {
  font-family: 'KyrillaSansSerif-Black';
  src:url('./KyrillaSansSerif-Black.ttf');
}

body {
  background-color: #feac01;
}

h1, h3 {
  font-family: 'KyrillaSansSerif-Black';
  color:#520a0a;
}

.kyril-bold {
  font-family: 'KyrillaSansSerif-Bold';
  color:#520a0a;
}

.container-navbar {
  width: 100vw;
  height: 20vh;
}

.container-navbar-title {
  width: 45%;
}

.container-navbar-list {
 width: 55%;
}

li {
  list-style: none;
}

.container-navbar-list li:hover {
  border: 1px solid #520a0a;
  border-radius: 1rem;
}

.container-navbar-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-img {
  width: 60vw;
}

.container-history-text {
  width: 40vw;
  background-color: #520a0a;
  color: #feac01;
  font-family: 'KyrillaSansSerif-Bold';
  align-items: center;
}

.container-history-text p {
  font-size:.8em;
}

.img-family {
  width: 100%;
}

.container-shows-list {
  width: 85vw;
  background-color: #520a0a;
  color: #feac01;
  font-family: 'KyrillaSansSerif-Bold';
  text-align: left;
}

table {
  border-collapse: collapse;
  font-size:1.3em;
}

.price-list {
  width: 100%;
  font-family: 'KyrillaSansSerif-Bold';
  align-items: center;
  display: flex;
  
}

.container-price-list {
  color: #520a0a;

}

.img-pricing {
  width: 80%;
}

.button-plus {
  font-size : 2em;
  font-family: 'KyrillaSansSerif-Black';
  line-height: 0.7;
}

.booking-container {
  padding:2em;
  background-color: #FF9500;
}

form {
  font-family: 'KyrillaSansSerif-Bold';
  color :#520a0a;
}

.row {
  margin : 0;
  padding:0;
  flex-wrap: nowrap;
}

.product-list {
  width: 80%;
  margin : 0 auto;
}

/*
 * Modal
 */

.modal {
  font-family: 'KyrillaSansSerif-Bold';
  color: #FF9500;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20;
  background-color:#520a0a;
  border-radius: 2px;
  display: inline-block;
  max-height: 450px;
  margin: auto;
  max-width: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  justify-self: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal-body {
  padding: 2em;
}

.name-product {
  font-family: 'KyrillaSansSerif-Bold';
  color: #FF9500;
  font-size: 1.5rem;
}

.qte {
  font-size:1.2rem;
}

.icon-center {
  text-align: center;
  border:1px solid #FF9500;
}
