.App {
  text-align: center;
}

@font-face {
  font-family: 'BeTrueToYourSchool';
  src:url('./KyrillaSansSerif-Bold.ttf');
}

@font-face {
  font-family: 'BeTrueToYourSchool';
  src:url('./KyrillaSansSerif-Black.ttf');
}


