.App {
  text-align: center;
}

@font-face {
  font-family: "KyrillaSansSerif-Bold";
  src: url("./KyrillaSansSerif-Bold.ttf");
}

@font-face {
  font-family: "KyrillaSansSerif-Black";
  src: url("./KyrillaSansSerif-Black.ttf");
}

body {
  background-color: #feac01;
}

h1,
h3,
a {
  font-family: "KyrillaSansSerif-Black";
  color: #520a0a;
}

h3.title-home {
  color: #feac01;
}

.kyril-bold {
  font-family: "KyrillaSansSerif-Bold";
  color: #520a0a;
}

.container-navbar {
  width: 100vw;
  height: 20vh;
}

li {
  list-style: none;
}

a:hover {
  border: 1px solid #520a0a;
  border-radius: 1rem;
  color: #520a0a;
  text-decoration: none;
}

.container-navbar-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-img {
  width: 60vw;
}

.container-history-text {
  width: 40vw;
  background-color: #520a0a;
  color: #feac01;
  font-family: "KyrillaSansSerif-Bold";
  align-items: center;
}

.container-history-text p {
  font-size: 0.8em;
}

.img-family {
  width: 100%;
}

.container-tableau {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-shows-list {
  width: 50%;
  background-color: #520a0a;
  color: #feac01;
  font-family: "KyrillaSansSerif-Bold";
  text-align: left;
}

table {
  border-collapse: collapse;
  font-size: 1.3em;
}

.price-list {
  width: 100%;
  font-family: "KyrillaSansSerif-Bold";
  align-items: center;
  display: flex;
}

.container-price-list {
  color: #520a0a;
}

.img-pricing {
  width: 80%;
}

.button-plus {
  font-size: 2em;
  font-family: "KyrillaSansSerif-Black";
  line-height: 0.7;
}

.booking-container {
  padding: 2em;
  background-color: #ff9500;
}

form {
  font-family: "KyrillaSansSerif-Bold";
  color: #520a0a;
}

.row {
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
}

.product-list {
  width: 80%;
  margin: 0 auto;
}

/*
 * Modal
 */

.modal {
  font-family: "KyrillaSansSerif-Bold";
  color: #ff9500;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20;
  background-color: #520a0a;
  border-radius: 2px;
  display: inline-block;
  max-height: 250px;
  margin: auto;
  max-width: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  justify-self: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal-body {
  padding: 2em;
}

.name-product {
  font-family: "KyrillaSansSerif-Bold";
  color: #ff9500;
  font-size: 1.5rem;
}

.qte {
  font-size: 1.2rem;
}

.icon-center {
  text-align: center;
  border: 1px solid #ff9500;
}

/*
 * Shopping Cart
 */

.lighter-text {
  color: rgb(171, 176, 190);
}
.main-color-text {
  color: #ff9500;
}
.navbar-left {
  float: left;
}
.navbar-right {
  margin: 0;
  align-items: center;
}
.navbar-right ul li {
  display: inline;
  padding-left: 20px;
}
.navbar-right ul li {
  color: rgb(119, 119, 119);
  text-decoration: none;
}
.navbar-right ul li a:hover {
  color: rgb(0, 0, 0);
}
.container-cart {
  margin: auto;
  width: 80%;
  font-family: "KyrillaSansSerif-Bold";
  z-index: 100000;
  position: absolute;
  width: 222px;
  right: 0.6em;
  top: 10vh;
}
.badge {
  background-color: #520a0a;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  color: #ff9500;
  display: inline-block;
  font-size: 12px;
  height: 25px;
  line-height: 1;
  padding: 6px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 25px;
}
.shopping-cart {
  background: #520a0a none repeat scroll 0 0;
  border-radius: 3px;
  float: right;
  margin: 20px 0;
  padding: 20px;
  position: relative;
  width: 320px;
}
.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #ff9500;
  padding-bottom: 15px;
  color: #ff9500;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items .trash {
  float: left;
  margin-right: 12px;
  color: #ff9500;
}

.shopping-cart .shopping-cart-items .item-name {
  display: block;
  font-size: 0.8em;
  padding-top: 10px;
  color: #ff9500;
}
.shopping-cart .shopping-cart-items .item-price {
  color: #ff9500;
  font-size: 0.7em;
  margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #ff9500;
  font-size: 13px;
}
.shopping-cart::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #520a0a;
  border-image: none;
  border-style: solid;
  border-width: 8px;
  bottom: 100%;
  content: " ";
  height: 0;
  left: 89%;
  margin-left: -8px;
  pointer-events: none;
  position: absolute;
  width: 0;
}
.cart-icon {
  color: #ff9500;
  float: left;
  font-size: 24px;
  margin-right: 7px;
}
.button {
  background: #ff9500 none repeat scroll 0 0;
  border-radius: 30px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
  color: #520a0a;
  display: block;
  font-size: 16px;
  margin: 25px 0 15px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  background: #520a0a none repeat scroll 0 0;
  color: #ff9500;
}
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.button-list {
  font-family: "KyrillaSansSerif-Bold";
  background: #520a0a none repeat scroll 0 0;
  color: #ff9500;
  display: block;
  font-size: 16px;
  margin: 5px 0 15px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

input#name {
  margin: 5px 0 15px;
  padding: 8px;
  font-family: "KyrillaSansSerif-Bold";
}
